body{
    margin: 0;
    background: black;
    font-family: monospace;
}

.header{
    border: 3px solid aqua;
}

.header .container{
    border: 3px solid blue;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header ul .atual{
    font-weight: 800;
}

.titulo{
    color: aqua;
    border: 3px solid red;
    width: fit-content; 
}

.navBar{
    color: white;
    list-style: none;
    border: 3px solid green;
    display: flex;
    justify-content: space-between;
    width: 300px; 
    padding: 0;
    align-items: center;                                         
}