body{
    margin: 0;
    background: black;
    font-family: monospace;
}

a{
    text-decoration: none;
    color: #e3b062;
}

/* COMEÇO CABEÇALHO */

.header{
    border-bottom: 3px solid aqua;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container{
    justify-content: space-between;
}

.header ul .atual{
    font-weight: 1000;
}

.titulo{
    color: aqua;
    width: fit-content; 
}

.navBar{
    color: #e3b062;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 300px; 
    padding: 0;
    align-items: center;                                         
}

/* FIM CABEÇALHO */

/* COMEÇO BANNER */

.banner {
    background-image: url("img/bg-jelly-fish-para-home.png");
    height: 500px;
    color: white;
    display: flex;
}

.banner .container p span{
    font-weight: 1000;
}

.banner .container{
    font-size: 36px;
    justify-content: center;
}

.banner .container p{
    width: 10%;
}

/* FIM DO BANNER */

/* COMEÇO DO SOCIAL */

.social {
    background-color: beige;
    display: flex;
}

.box {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social .container .boxes .box img{
    width: 170px;
}

.social .container .boxes {
    display: flex;
}

/* FIM DO SOCIAL */

/* COMEÇO DO  FOOTER*/

.footer{
    background-color: #32b9cd;
    color: #fff;
    height: 150px;
    display: flex;
    font-size: 15px;
}

.footer .container{
    justify-content: center;
}

/* FIM DO FOOTER */

/* -- PÁGINA LOGIN -- */

/* INICIO CARD LOGIN*/

.banner .container .card{
    background-color: beige;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    color: palevioletred;
    align-items: center;
    border-radius: 4px;
}

.card h1{
    font-size: 30px;
}

.card h4{
    font-size: 16px;
}

.card input{
    border: 3px solid palevioletred;
    padding: 10px;
    outline: none;
}

.card button{
    height: 50px;
    width: 100px;
    background-color: palevioletred;
    margin-top: 25px;
    font: 700 20px monospace;
    color: #fff;
    border: 0; border-radius: 4px;  
    cursor: pointer;
}

/* FIM DO CARD LOGIN */

/* PAGINA CADASTRO */

/* INICIO CARD CADASTRO*/

.containerCadastro{
    width: 80%;
    margin: auto;
    display: flex;
}

.bannerCadastro {
    background-image: url("img/bg-jelly-fish-para_outras_pags.png");
    height: 1000px;
    color: white;
    display: flex;
}

.bannerCadastro .containerCadastro p span{
    font-weight: 1000;
}

.bannerCadastro .containerCadastro{
    font-size: 36px;
    justify-content: center;
}

.bannerCadastro .containerCadastro p{
    width: 10%;
}

.bannerCadastro .containerCadastro .cardCadastro{
    background-color: beige;
    height: 750px;
    width: 400px;
    display: flex;
    flex-direction: column;
    color: palevioletred;
    align-items: center;
    border-radius: 4px;
}

.cardCadastro h1{
    font-size: 30px;
}

.cardCadastro h4{
    font-size: 16px;
}

.cardCadastro input{
    border: 3px solid palevioletred;
    padding: 10px;
    outline: none;
}

.cardCadastro button{
    height: 50px;
    width: 120px;
    background-color: palevioletred;
    margin-top: 25px;
    font: 700 20px monospace;
    color: #fff;
    border: 0; border-radius: 4px;  
    cursor: pointer;
}

/* FIM DO CARD CADASTRO */